html, body {
    height: 100%;
    background-color: #e4e4e4;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer .pull-left a{
    font-weight: bold;
}
.footer .pull-right{
    display: none;
}
.footer:before {
    content: '';
    height: 175px;
    width: 540px;
    background: url(../images/bgimg.png) left top no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.another_wrap:before {
    content: '';
    width: 213px;
    height: 149px;
    position: fixed;
    right: 15px;
    bottom: 80px;
    background: url(../image/s2.png) center no-repeat;
    z-index: 0;
    opacity: 0.3;
}
.footer {
    position: relative;
    overflow: hidden;
    height: 60px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    padding: 20px 15px 0 15px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

/***************************************************************/
.another_wrap{

}
.another_wrap .navbar-nav  button {
    padding-top: 25px;
    padding-bottom: 25px;
    outline: none;
    margin: 0 0 0 0;
    border: none;
}
.another_wrap .nav > li > form {
    padding: 0 0;
}
.another_wrap .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
}
.another_wrap .navbar-brand{
    padding: 5px 15px;
    height: inherit;
}
.another_wrap > nav{
    padding-right: 15px;
    padding-left: 15px;
}
.another_wrap .navbar-inverse  button,
.another_wrap .navbar-inverse .navbar-nav > li > a {
    color: #008ddb;
    font-weight: bold;
}
.another_wrap .navbar-inverse .navbar-toggle{
    border: none !important;
    margin-top: 16px;
    outline: none !important;
}
.another_wrap .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #008ddc;
}
.another_wrap .navbar-inverse .navbar-nav  button:hover,
.another_wrap .navbar-inverse .navbar-nav button:focus,
.another_wrap .navbar-inverse .navbar-nav > .active > a,
.another_wrap .navbar-inverse .navbar-nav > .active > a:hover,
.another_wrap .navbar-inverse .navbar-nav > li > a:hover,
.another_wrap .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff ;
    background-color: #008ddb !important;
    text-decoration: none;
}
.another_wrap .navbar-inverse .navbar-toggle:hover,
.another_wrap .navbar-inverse .navbar-toggle:focus {
     background-color: #008ddb;
}

.another_wrap .navbar-inverse .navbar-toggle:hover  .icon-bar ,
.another_wrap .navbar-inverse .navbar-toggle:focus  .icon-bar {
    background-color: #ffffff;
}
.container_in .grid-view tr > td:nth-child(4),
.container_in .grid-view tr > td:nth-child(3),
.container_in .grid-view tr > td:nth-child(2),
.container_in .grid-view tr > td:nth-child(1) {
    white-space: normal;
}
.container_in .customTable{
    margin-bottom: 10px;
}
.container_in{
    background-color: #ffffff;
    padding: 15px 15px 5px 20px !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .05);
    margin: 15px auto 0 auto;

}
@media(max-width:768px) {
    .nav li > form {
        padding: 3px;
    }
    .another_wrap .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
/*.nav > li > form > button:hover {*/
    /*text-decoration: none;*/
/*}*/

/*.panel-red.panel {*/
    /*background: none;*/
/*}*/

/*.panel-red {*/
    /*border-color: #c75454;*/
/*}*/

/*.panel-red .panel-heading {*/
    /*color: #fff;*/
    /*background-color: #c75454;*/
    /*border-color: #c75454;*/
/*}*/

.navbar-inverse {
    background-color: #ffffff;
    border-color: #d1d1d1;
    color: #333333;
}
#file-guid{
    height: 55px;
    padding: 6px 12px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #a3c5d8;
    border-radius: 0;
}
#file-guid:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.jumbo .control-label{
    font-size: 20px;
    color: #333333;
    padding-bottom: 8px;
    padding-top: 12px;
}
.import i{
    margin: 0 0 0 10px;
}
.import:hover{
    background-color: #4ea5bf;
}
.import{
    outline: none !important;
    border: none;
    background-color: #5bc0de;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.pinForm{
    border: 1px solid #bdbdbd;
    padding: 15px;
    border-radius: 5px;
    margin: 0 auto;
    float: none;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*.navbar-inverse a, .navbar-inverse button {*/
    /*color: #333333 !important;*/
/*}*/

/*.customTable{*/
    /*background: #dbe4bb;*/
    /*border-collapse: separate;*/
    /*border-top: 1px solid #7b835c;*/
    /*border-left: 1px solid #7b835c;*/
/*}*/
/*.customTable.table > thead > tr > th,*/
/*.customTable.table > tbody > tr > th,*/
/*.customTable.table > tfoot > tr > th,*/
/*.customTable.table > thead > tr > td,*/
/*.customTable.table > tbody > tr > td,*/
/*.customTable.table > tfoot > tr > td{*/
    /*border-right: 1px solid #7b835c;*/
    /*border-bottom: 1px solid #7b835c;*/
    /*border-top: none;*/
    /*border-left: none;*/
    /*vertical-align: middle;*/
/*}*/
/*.customTable.table > thead > tr > th{*/
    /*border-bottom: 2px solid #7b835c;*/
    /*color: #fff;*/
    /*background: #9da67b;*/
/*}*/
/*.customTable.table > thead > tr > th a{*/
    /*color: #fff;*/
/*}*/
/*.breadcrumb {*/
    /*padding: 8px 15px;*/
    /*margin-bottom: 20px;*/
    /*list-style: none;*/
    /*background-color: #f6e3e0;*/
    /*border-radius: 4px;*/
/*}*/

/*.navbar-inverse .navbar-nav > .active > a,*/
/*.navbar-inverse .navbar-nav > li > a:hover,*/
/*.navbar-inverse .navbar-nav > .active > a:hover,*/
/*.navbar-inverse .navbar-nav > .active > a:focus {*/
    /*color: #fff !important;*/
    /*background-color: #008ddc;*/
/*}*/
/*ul.dropdown-menu {*/
    /*background-color: #a84f4a;*/
/*}*/
/*.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {*/
    /*background-color: #86241f;*/
/*}*/
/*.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {*/
    /*color: #262626;*/
    /*text-decoration: none;*/
    /*background-color: #c75454;*/
/*}*/
/*.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {*/
    /*color: #fff;*/
    /*background-color: #c75454;*/
/*}*/
.title {
    font-size: 22px;
    color: #ffffff;
    background: #5bc0de;
    display: inline-block;
    padding: 5px 10px;
    border: 1px dashed #53b0cb;
}
/*.groupBoxesHolder{*/
    /*margin: 0 -5px;*/
/*}*/
/*.groupBox{*/
    /*padding: 0 5px;*/
/*}*/
/*.groupBox .groupBoxItem{*/
    /*border: 1px solid #dda6a6;*/
    /*margin: 10px 0;*/
    /*display: block;*/
    /*!*min-height: 185px;*!*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*padding: 0 5px 5px 5px;*/
/*}*/
/*.groupBox .groupBoxTitle{*/
    /*background: #fff2f2;*/
    /*display: table;*/
    /*margin: -13px 0 10px 15px;*/
    /*padding: 0 10px;*/
    /*font-size: 16px;*/
    /*color: #4a4a4a;*/
    /*font-weight: bold;*/
/*}*/
/*.groupBox .striped-table{*/
    /*margin-bottom: 0;*/
/*}*/
/*.groupBox .striped-table td{*/
    /*border: none;*/
/*}*/
/*.groupBox .striped-table tr:nth-of-type(odd){*/
    /*background-color: #f4e5e5;*/
/*}*/
/*.groupBoxTab li{*/
    /*list-style: none;*/
    /*display: block;*/
    /*position: relative;*/
/*}*/
/*.groupBoxTab li a{*/
    /*color: #555;*/
    /*text-decoration: none;*/
    /*font-size: 14px;*/
    /*padding: 10px 10px 0 15px;*/
    /*margin: 5px 0;*/
    /*display: block;*/
    /*border: 2px solid transparent;*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*-webkit-transition: all 0s ease;*/
    /*-moz-transition: all 0s ease;*/
    /*-o-transition: all 0s ease;*/
    /*-ms-transition: all 0s ease;*/
    /*transition: all 0s ease;*/
/*}*/
/*.groupBoxTab li:after{*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 16px inset transparent;*/
    /*border-bottom: 16px inset transparent;*/
    /*border-right: 16px solid transparent;*/
    /*position: absolute;*/
    /*content: "";*/
    /*margin-top: -16px;*/
    /*top: 50%;*/
    /*left: -15px;*/
    /*z-index: 1;*/
/*}*/
/*.groupBoxTab li:before{*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 16px inset transparent;*/
    /*border-bottom: 16px inset transparent;*/
    /*border-right: 16px solid #fff2f2;*/
    /*position: absolute;*/
    /*content: "";*/
    /*margin-top: -16px;*/
    /*top: 50%;*/
    /*left: -12px;*/
    /*z-index: 2;*/
/*}*/
/*.groupBoxTab li.active a{*/
    /*border-color: #cf5555;*/
/*}*/
/*.groupBoxTab li.active:after{*/
    /*border-right-color: #cf5555;*/
/*}*/
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/


.pull-center {
    display: table;
    margin: 0 auto;
}
.lined_text{
    text-align: center;
    position: relative;
    margin: 20px 0;
}
.lined_text span {
    background: #fff;
    position: relative;
    padding: 0 5px;
    font-size: 16px;
    color: #3b3b3b;
    z-index: 3;
}
.lined_text:before {
    content: '';
    border-top: 1px solid #ccc;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
}
